/* General */
* {
    font-family: 'Raleway', sans-serif;
}

:root {
    --main-color: #0065FC;
    --main-bg-color: #F2F2F2;
    --filter-bg-color: #DEEBFF;
}

.fa-solid, .fa-regular {
    color: var(--main-color);
}

body {
    display: flex;
    justify-content: center;
}

.main-container {
    width: 100%;
    padding: 0 50px;
    box-sizing: border-box;
}

.section-title {
    margin: 0;
    font-size: 22px;
}

.card {
    background-color: white;
    border-radius: 20px;
    padding: 5px;
    
}

.card img {
    object-fit: cover;
}

.card-title {
    font-size: 16px;
}

.euro {
    font-weight: 700;
}

.neutralStar {
    color: var(--main-bg-color)
}


/*Header*/
.header{
    height: 79px;
    margin-top: 20px; 
}

.logo{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.logo img{
    width: 61.09px;
    height: 19px;
}

h2{
    margin-top: 0px;
    margin-bottom: 8px;
}

a{
    font-weight: 400;
    text-decoration: none;
}


a + a {
    margin-left: 68px;
}


a:hover{
    color: #0065FC;
}

.top-line{
    color: #0065FC;
}
.top-line:hover{
    border-top: 2px solid #0065FC;
    padding-top: 20px;
}


/*Nav*/
.nav{
    height: 281px;
    padding-bottom: 35px;
}

.nav .search-bar{
    height: 49px;
    padding-top: 20px;
    padding-bottom: 20px;
    display: flex;
    align-items: center;
}

.nav .search-bar1{
    width: 50px;
    height: 49px;
    background-color: #F2F2F2;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
    padding: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.nav .search-bar2{
    height: 49px;
    background-color: white;
    border-style: solid;
    border-color: #F2F2F2;
    padding: 4px;
    padding-left: 20px;
    padding-right: 20px;
    display: flex;
    align-items: center;
}

.nav .search-bar3{
    width: 93px;
    height: 49px;
    color: white;
    background-color: #0065FC;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    padding: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.nav .card-content{
    display: flex;
    align-items: center;
    height: 50px;
    padding: 20px;
}

ul{
    display: flex;
    list-style-type: none;
    padding-left: 0;
    gap: 15px;
}

.nav a{
    border-width: 2px;
    border-style: solid;
    border-color: #D9D9D9;
    border-radius: 25px;
    padding: 12px;
    display: flex;
    align-items: center;
    font-weight: bold;
    gap: 15px;
}

.nav a:hover{
    color: black;
    background-color: #DEEBFF;
}

.nav a:visited{
    color: black;
}

.nav .info{
    display: flex;
    gap: 10px;
}

.nav .fa-info{
   border-style: solid;
   border-color: #D9D9D9;
   width: 24px;
   height: 24px;
   border-radius: 20px;
   display: flex;
   align-items: center;
   justify-content: center;

}

.nav .fa-magnifying-glass{
    display: none;
}

.nav .filters-box{
    display: flex;
}

.nav .filters{
    display: flex;
    align-items: center;

}

/*Accommodation And Popular*/
.accommodation-and-popular {
    display: flex;
    gap: 50px ;   
    margin-top: 20px; 
}

.accommodation-and-popular section {
    border-radius: 20px;
    padding: 30px;
    box-sizing: border-box;
}

/*Accommodation*/
.accommodation {
    max-width: 871px;
    height: 675px;
    flex-basis: 65%;
    background-color: var(--main-bg-color);
}

.accommodation-cards{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    grid-gap: 15px;
    filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
}

.accommodation-cards .card {
    display: flex;
    flex-direction: column;
    max-width: 250px;
    height: 207px;
    margin-top: 30px;
    flex-basis: 30%;
}

.accommodation-cards img { 
    height: 124px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

.accommodation-cards .card-content {
    padding-left: 15px;
}

.accommodation-cards .card-rating{
    display: flex;
    gap: 2px;
}

.accommodation .card-title{
    margin-bottom: 8px;
    margin-top: 8px;
}

.accommodation .card-subtitle{
    margin-top: 0px;
}

.show-more{
  
}


/*Popular*/
.popular {
    max-width: 429px;  
    flex-basis: 33%;
    background-color: var(--main-bg-color);
}

.popular-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.popular-cards .card {
    display: flex;
    height: 146px;
    margin-top: 33px;
    filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
}

.popular-cards img {
    width: 33%;
    height: 146px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}

.popular-cards .card-content {
    width: 67%;
    padding-left: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-sizing: border-box;
}

.popular-cards .card-title {
    margin-top: 10px;
    margin-bottom: 4px;
}

.popular-cards .card-subtitle {
    margin: 0; 
}

.popular-cards .card-rating {
    margin-bottom: 5px;
}

/*Things to do in Marseille*/
.to-do{
    max-width: 1340px;
    height: 559px;
    display: flex;
    gap: 30px;
}

.to-do-section{
    padding: 30px;
    height: 559px;
    margin-top: 40px ;
}

.to-do .card-title{
    padding-left: 19px;
}

.to-do .card{
    width: 297px;
    margin-top: 30px;
    height: 439px;
    filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
    padding: 0px;
}

.to-do img{
    width: 100%;
    height: 380px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

/*Footer*/
.footer{
    background-color: #F2F2F2;
    display: flex;
    max-width: 1340px;
} 

.footer .card-content{
    width: 446px;
    height: 163px;
    padding: 20px;
}

.footer .card-txt{
    gap: 15px;
    display: flex;
    flex-direction: column;
}


/*Tablet*/
@media all and (max-width: 1024px){

body{
    max-width: 1024px;
}    

/*Nav*/
.nav{
   max-width: 928px;
}

.nav .card-content{

}

/*Accommodation And Popular*/
.accommodation-and-popular{
    display: flex;
    flex-direction: column;
}

/*Accommodation*/
.accommodation{
    max-width: 924px;
}

.accommodation .accommodation-cards{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.show-more{
    width: 864px;
}

/*Popular*/
.popular{
    max-width: 924px;
}

.popular-cards{
    display: flex;
    gap: 15px;
}

.popular-cards .card{
    width: 274px;
}

.popular img{
    max-width: 91px;
}


/*Things to do in Marseille*/
.to-do{
    max-width: 1340px;
}


.to-do img{
    max-width: 193px;
    height: 200px;
}

.to-do .card{
    width: 193px;
    height: 270px;
}

.to-do-section{
    height: 380px;
}

/*Footer*/

.footer .card-content{
    width: 288px;
    padding-top: 0px;
    padding-bottom: 0px;
}
}

/*Mobile*/
@media all and (max-width: 550px) {

body{
    width: 375px;
}    

/*Header*/
.logo{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.logo img{
    align-self: center;
    padding-bottom: 30px;
}

.links{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

a + a {
    margin-left: 0px;
}

/*Nav*/
.nav{
    width: 335px;
    height: 451px;
}


.nav .search-bar{
    padding-bottom: 30px;
}

.nav .search-bar2{
    height: 49px;
    background-color: white;
    border-style: solid;
    border-right-style: none;
    border-color: #F2F2F2;
    padding: 4px;
    padding-left: 20px;
    padding-right: 20px;
    display: flex;
    align-items: center;
}


.nav .search-bar3{
    width: 49px;
    border-radius: 15px;
    display: none;
}

.nav .fa-magnifying-glass{
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 15px;
    background-color: #0065FC;
    height: 60px;
    width: 60px;
}

.nav .card{
    width: 166px;
    padding: 19px;
    border-radius: 35px;

}

.nav a{
    width: 161px;
}

ul{
    display: ;
}

.nav .card-content{
    height: 161px ;
    display: grid;
    grid-template-columns: 162px 162px;
    padding-left: 0px;
    padding-bottom: 0px;
    gap: 0 50px;
}

.nav .filters-box{
    display: flex;
    flex-direction: column;
}


/*Accommodation And Popular*/
.accommodation-and-popular{
    display: flex;
    flex-direction: column-reverse;
    gap: 15px;
}

.accommodation-and-popular section{
    padding: 20px;
    padding-top: 30px;
    padding-bottom: 30px;
    border-radius: 0px;
}

/*Accommodation*/
.accommodation{
    width: 375px;
    background-color: white
}

.accommodation .section-title{
    margin-bottom: 15px;
}

.accommodation-cards{
    display: flex;
    flex-direction: column;

}

.accommodation .card-content{
    padding-bottom: 15px;
}

.accommodation-cards .card {
    max-width: 335px;
    margin-top: 0px;
   
}

.accommodation-cards img {
    height: 124px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

.show-more{
    margin-top: 0px;
}

/*Popular*/
.popular{
    background-color: var(--main-bg-color); 
    width: 375px;
    height: 569px;
}

.popular .section-title{
    margin-bottom: 15px;
}

.popular-title{
    display: flex;
    justify-content: space-between;
    align-items: baseline ;
}

.popular-cards{
    display: flex;
    flex-direction: column;
}

.popular-cards .card {
    display: flex;
    width: 325px;
    margin-top: 0px;
    filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
}

.popular-cards img{
    max-width: 111px;
}

/*Things to do in Marseille*/
.to-do-section .section-title{
    width: 315px;
}

.to-do{
    width: 375px;
    flex-direction: column;
    padding-top: 30px;
    gap: 15px;
}

.to-do-section{
   height: 965px;
   padding-bottom: 0px;
   margin-top: 0px;
}

.to-do .card{
    width: 315px;
    height: 200px;
    margin-top: 0px;
}

.to-do img{
    max-width: 315px;
    height: 141px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}


/*Footer*/
.footer{
    width: 375px;
    flex-direction: column;
}

.footer .card-content{
    padding: 0px;
    padding-left: 30px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.footer .card-title{
    margin-bottom: 0px;

}
}